*{
  text-decoration: none;
}
/* 네브바 */

.navbar_wrap{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(128, 128, 128, 0.367);
  margin:0px 20px;

}

.navbar_main{
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  text-align: center;
  align-items: center;
  color:black;  
}
.navbar_main p {
 padding-top: 6px;
 padding-right: 6px;

}
.navbar_ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.navbar_ul li {
  padding:10px;
  font-size: 1rem;
  color:black;
}

.navbar_ul button{
  background-color: transparent;
  border:none;
  font-size: 1rem;
  cursor: pointer;
}